<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gerray.fmsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <activity android:name=".LesseeModule.LesseeProfileActivity" />
        <activity android:name=".Transactions.MpesaAcitivity" />
        <activity android:name=".LesseeModule.LesseeWorkDetails" />
        <activity android:name=".Transactions.TransactionActivity" />
        <activity
            android:name=".ManagerModule.WorkOrder.WorkPopUp"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".ContractorModule.EditWorkDetails"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".ManagerModule.WorkOrder.WorkDetails"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".LesseeModule.RequestPopUp"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".CommunicationModule.ChatActivity" />
        <activity
            android:name=".ManagerModule.ChatRoom.ChatSelectFM"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".ManagerModule.Lessee.ConfirmAdd"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".ManagerModule.WorkOrder.SelectConsultant"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".ManagerModule.Lessee.SearchLessee"
            android:label="Search Lessees"
            android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar" />
        <activity
            android:name=".ContractorModule.UpdateContractor"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".LesseeModule.LesseeConsultant" />
        <activity android:name=".LesseeModule.FacilityInformation" />
        <activity android:name=".LesseeModule.FindFacility" />
        <activity
            android:name=".LesseeModule.LesseeProfileCreate"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity
            android:name=".LesseeModule.LesseeAssetPopUp"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkLmKddT450URYOjK0gpYaVASRbgQcJEY" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".ManagerModule.Consultants.FacilityConsultant"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ContractorModule.ContractorCreate"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".ManagerModule.Location.FacilityLocation" />
        <activity android:name=".ContractorModule.ContractorActivity" />
        <activity android:name=".LesseeModule.LesseeActivity" />
        <activity
            android:name=".ManagerModule.Profile.ProfilePopUp"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".ManagerModule.Profile.FacilityProfile" />
        <activity
            android:name=".ManagerModule.FacilityManager"
            android:label="@string/title_activity_facility_manager" />
        <activity android:name=".Authentication.UserSelector" />
        <activity
            android:name=".ManagerModule.FacilityCreate"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".Authentication.CreateActivity" />
        <activity
            android:name=".ManagerModule.Assets.AssetPopUp"
            android:theme="@style/Theme.AppCompat.DayNight.Dialog" />
        <activity android:name=".Authentication.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>